<div class="converter">
    <h2>Конвертер валют</h2>
    <div>
      <label for="amountInput">В мене є:</label>
      <input type="number" id="amountInput" [(ngModel)]="amount">
    </div>

    <div>
      <label for="fromCurrencySelect">Маю:</label>
      <div class="row">
        <select id="fromCurrencySelect" [(ngModel)]="fromCurrency">
          <option [value]="defaultCurrency" disabled [selected]="fromCurrency === defaultCurrency">
            {{ fromCurrency === defaultCurrency ? defaultCurrency : fromCurrency }}
          </option>
          <option value="UAH"> UAH </option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
        <img [src]="getFlagImageUrl(fromCurrency)" alt="" *ngIf="fromCurrency !== defaultCurrency">
      </div>
    </div>

    <div>
      <label for="toCurrencySelect">Конвертую в:</label>
      <div class="row">
        <select id="toCurrencySelect" [(ngModel)]="toCurrency">
          <option [value]="defaultCurrency" disabled [selected]="toCurrency === defaultCurrency">
            {{ toCurrency === defaultCurrency ? defaultCurrency : toCurrency }}
          </option>
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
        <img [src]="getFlagImageUrl(toCurrency)" alt="" *ngIf="toCurrency !== defaultCurrency">
      </div>

    </div>

    <div class="result" *ngIf="fromCurrency !== defaultCurrency && toCurrency !== defaultCurrency">
      <p>Результат конвертації:</p>
      <p>{{ amount }} {{ fromCurrency }} = {{ convertToAmount() }} {{ toCurrency }}</p>
    </div>
  </div>